.about-coffee {
  display: flex;
  padding: 70px 10px;
  align-items: center;
  @media (max-width: 840px) {
    display: block;
    text-align: center;
    padding: 30px 10px;
  }
  &_left {
    width: 50%;
    @media (max-width: 840px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &_right {
    width: 50%;
    text-align: left;
    @media (max-width: 840px) {
      width: 100%;
      text-align: center;
    }
  }
  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 22px;
  }
  &__img {
    margin-bottom: 26px;
    text-align: center;
    @media (max-width: 420px) {
      width: 260px;
      height: auto;
    }
  }
  &__country {
    margin-bottom: 16px;
    & span {
      font-weight: 700;
    }
  }
  &__text {
    margin-bottom: 16px;
    line-height: 20px;
    @media (max-width: 840px) {
      max-width: 450px;
      margin: 0 auto;
    }
    & span {
      font-weight: 700;
    }
  }
  &__price {
    font-weight: 700;
    & span {
      font-size: 25px;
      font-weight: 400;
    }
  }
}
