.section {
  padding: 80px 10px 100px;
  text-align: center;
  &__container {
    max-width: 590px;
    margin: 0 auto;
  }
  &__title {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  &__img {
    margin-bottom: 40px;
  }
  &__text {
    line-height: 20px;
  }
  &__text + .section__text{
    margin-top: 30px;
  }
}
.our {
  background-image: url("../../image/our-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  & .section__title {
    margin-bottom: 40px;
  }
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__card {
    margin: 0 35px 10% 35px;
    display: block;
    width: 220px;
    height: 240px;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    transition: all 0.2s ease;
    &:hover {
      box-shadow: 5px 5px 15px rgba(0,0,0, 0.5);
    }
    &-img {
      min-height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      & img {
        object-fit: contain;
        object-position: center;
      }
    }
    &-title {
      color: initial;
      line-height: 20px;
      margin-bottom: 10px;
      transition: all 0.2s ease;
      &:hover{
        text-decoration: underline;
      }
    }
    &-price {
      color: initial;
      text-align: right;
      margin-right: 22px;
      font-weight: 700;
    }
  }
}
@media (max-width: 780px) {
  .header__title {
    font-size: 28px;
  }
  .header__text {
    font-size: 18px;
    line-height: 15px;
  }
}

